services:
  db:
    image: postgres:15
    container_name: punchout-postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-punchout}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - punchout-network

  fastapi:
    build:
      context: ./fastapi
    container_name: punchout-fastapi
    restart: always
    ports:
      - "8001:8000"
    volumes:
      - ./fastapi:/app
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-postgres}@db:5432/${POSTGRES_DB:-punchout}
      - MEDUSA_BACKEND_URL=http://medusa:9000
      - STOREFRONT_PUBLIC_URL=http://localhost:8002
      - JWT_SECRET=${JWT_SECRET:-supersecret}
      - NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_a09401ac1f9a5ec82927bff051f481b7d11a36f69487e58a96d6b36f726de2fd
    depends_on:
      - db
      - medusa
    networks:
      - punchout-network

  storefront:
    build:
      context: ./medusa-storefront
    container_name: punchout-storefront
    restart: always
    ports:
      - "8002:8000" # Next.js default dev port
    volumes:
      - ./medusa-storefront:/app
      - /app/node_modules
    environment:
      - NEXT_PUBLIC_DEFAULT_REGION=cl
      - NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000
      - MEDUSA_BACKEND_URL=http://medusa:9000
      - NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_a09401ac1f9a5ec82927bff051f481b7d11a36f69487e58a96d6b36f726de2fd
      - JWT_SECRET=${JWT_SECRET:-supersecret}
      - NEXT_PUBLIC_BASE_URL=http://localhost:8002
    depends_on:
      - medusa
    networks:
      - punchout-network
  medusa:
    build:
      context: ./medusa
    container_name: punchout-medusa
    restart: always
    ports:
      - "9000:9000"
      - "7001:7001"
    volumes:
      - ./medusa:/app
    environment:
      - DATABASE_URL=postgres://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-postgres}@db:5432/${POSTGRES_DB:-punchout}?sslmode=disable
      - REDIS_URL=redis://redis:6379
      - JWT_SECRET=supersecret
      - COOKIE_SECRET=supersecret
      - STORE_CORS=http://localhost:8002
      - ADMIN_CORS=http://localhost:7001,http://localhost:9000
      - AUTH_CORS=http://localhost:8002,http://localhost:9000,http://localhost:8001
    depends_on:
      - db
      - redis
    networks:
      - punchout-network

  redis:
    image: redis:alpine
    container_name: punchout-redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - punchout-network

volumes:
  postgres-data:


networks:
  punchout-network:
    driver: bridge
